class {{name}} :
{{doc}}

{{publicAttributes}}
{{publicMethods}}
{{publicAssociations}}

{{privateAttributes}}
{{privateMethods}}
{{privateAssociations}}

{{protectedAttributes}}
{{protectedMethods}}
{{protectedAssociations}}
