namespace {{package}} {

{{doc}}
class {{name}} {

public:
{{publicAttributes}}
{{publicMethods}}
{{publicAssociations}}

private:
{{privateAttributes}}
{{privateMethods}}
{{privateAssociations}}

protected:
{{protectedAttributes}}
{{protectedMethods}}
{{protectedAssociations}}

};

}; // namespace {{package}}
